<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249497496740-puu0ama4i3h9k15lrn2rfbgm80va3ked.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249497496740-puu0ama4i3h9k15lrn2rfbgm80va3ked</string>
	<key>API_KEY</key>
	<string>AIzaSyAt39E5p-ECGBjKL2Msy8Wzb2k335RROwI</string>
	<key>GCM_SENDER_ID</key>
	<string>249497496740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Priyabrat.Srijan</string>
	<key>PROJECT_ID</key>
	<string>srijan-73ae1</string>
	<key>STORAGE_BUCKET</key>
	<string>srijan-73ae1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249497496740:ios:3bbc58fe23bc6bc4db8a31</string>
</dict>
</plist>